
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
   background-image: url('../background.png');
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}


/* NEW STUFF IS ADDED UNDER THIS LINE */

/* POST IT LOOK ON USERSTORY */



.userstory1 {
    border-radius: 25px;
    background-color: #FCECA5;
    padding: 20px;

    width: 100%;
    height: 700px;
    box-shadow: 0 8px 20px #1a1d20;
    margin-top: 60px;
      
 }
    /* FONT ADDED TO TEST - WORKS */
.inter-font {
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
    }
   
    /* HEADER/HEADLINES STUFF */
    h1 {
        text-align: center;
        font-size: 50px;
        color: #e63256;
        font-family: "Inter",sans-serif;
        margin-top: 60px;
    }

    h2 {
        text-align: center;
        font-size: 32px;
        font-size: 40px;
        color: #e63256;
        font-family: "Inter", sans-serif;
    }

    h3 {
        text-align: center;
        font-size: 22px;
        color: #e63256;
        font-family: "Inter", sans-serif;
    }

    h1edit {
        margin-top: 20%;
    }
    /* OTHERS */
    .dividers {
        border: 1px solid #e63256;
    }

    .detail {
        text-align: center;
        font-size: 14px;
        width: 100%;
    }

    
    /* FOR FRONTPAGE */
   .column {
        float: left;
        width: 33.33%;
        align-content: center;
        text-align: center;
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    .left, .right {
        width: 25%;
    }

    .middle {
        width: 50%;
    }

.scrumguy {
    width: 700px;
    border-image-width: auto;
}

.frontpage {
    color: #ffffff
}

/* BUTTON UNDER PRODUCT BACKLOG */
.crbutton {
    text-align: center;
    background-color: #e63256;
    width: 15%;
    transition-duration: 0.4s;
}

    .crbutton:hover {
        background-color: #1a1d20;
        color: white;
    }
/* USERSTORY POST IT SETUP FOR PRODUCT BACKLOG INDIVIDUAL */
.userstory2 {
    border-radius: 25px;
    background-color: #FCECA5;
    padding: 20px;
    width: 30%;
    align-content: center;
    text-align: center;
    box-shadow: 0 8px 10px #1a1d20;
    margin: 20px;
}

/* TABLE LINES WITH THE COLOR RED */
table, th, td, tr {
    border-color: #e63256;
    background-color: #ffffff;
    text-align: center;
    border-radius: 25px;
    padding: 20px;
}