@page
@using ViPet_opgave_U12_13
@model ViPet_WebApplication.Pages.backlogModel
@{
}

<h1>PRODUCT BACKLOG</h1>

<form method="post">
	<center><div class="crbutton"><a class="btn" asp-area="" asp-page="/CreateUserstory"> Create Userstory </a></div></center>
<br>
</form>


<table class="table table-hover">
<th>Back</th>
<th>To</th>
<th>Homepage</th>
<th></th>

<div class="row">
    <form method="post">
        @foreach (Userstory u in Model.Backlogs.Product.ListAll())
        {
            <div class="userstory2">
                <p> <a class="nav-link text-dark" asp-area="" asp-page="/Userstory"> @u.Name <br></a></p>
                <p> <a class="nav-link text-dark" asp-area="" asp-page="/Userstory"> @u.Id <br></a></p>
                <p><input type="submit" asp-page-handler="Delete" asp-route-id="@u.Id" value="Delete Userstory" /><br></p>
                <p><input type="submit" asp-page-handler="Move" asp-route-id="@u.Id" value="Move Userstory" /><br></p>
            </div>

        }
    </form>
</div>
</table>