@page
@model ViPet_WebApplication.Pages.CreateUserstoryModel
@{
}
<form method="post">
<table class="col-6">
	<th></th>
	<tr>
				<td><input type="text" asp-for="@Model.Userstory.Name" placeholder="Name"/></td>
			   @* <td><input type="number" asp-for="@Model.Userstory.Id" placeholder="0" /></td> *@

				

			<td><input type="submit" Class="btn btn-success" value="Create Userstory" /></td>

	</tr>
		






</table>
</form>