@page
@using ViPet_opgave_U12_13
@model ViPet_WebApplication.Pages.UserstoryModel
@{
}

<body>
<div class="section1">
    <h1>@Model.Us.Name</h1>
    <h2>@Model.Us.Id</h2>
    <p>@Model.Us.UserstoryDetail.Description</p>

    @foreach (AcceptanceCriteria s in Model.Us.UserstoryDetail.ListAll())
    {
        <p>@s.Text</p>
    }
</div>
</body>
