@page
@using ViPet_opgave_U12_13
@model ViPet_WebApplication.Pages.UserstoryModel
@{
}

<body class="backdrop">
<div class="section1">
    <div class="overskrift">@Model.Us.Name</div>
    <div class="overskrift2">@Model.Us.Id</div>
    <div class="detail">@Model.Us.UserstoryDetail.Description</div>

    @foreach (AcceptanceCriteria s in Model.Us.UserstoryDetail.ListAll())
    {
        <p>@s.Text</p>
    }
</div>
</body>
