@page

@model ViPet_WebApplication.Pages.UserstoryModel
@{
}

<div>
    <center>
        <h1> @Model.Us.Name</h1>
        <h2> @Model.Us.Id</h2>
    
    <p>@Model.Us.UserstoryDetail.Description</p>
    </center>
    

</div>